
// COLOR VARIABLES
$color-primary-text: #666666;
$primary-color: #1875f0;
$secondary-color: #f5f5f5;
$white: #fff;
$off-white: #fafafa;
$light-grey: #f7f7f7;
$light-grey-2: #bcbcbc;

//header
$header-color-text: #b3b3b3;

//features
$nav-color: #1875f0;

//card
$wishlist: #ff4343;;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;

*,
*::after,
*::before {
    padding:0;
    margin: 0;
}

html,body {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    color: $color-primary-text;
    background-color: $off-white;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0;
}
.main {
    padding: 2rem 16rem;
}
@include respond(phone) {
    .main {
        padding: 1rem;
    }
}
@include respond(tab) {
    .main {
        padding: 1rem;
    }
}